.footer{
  background-color: $color-LightOrange-primary;
}

.footer__container{
  padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
  color: $color-LightBlack;
}

.footer__title{
  text-align: center;
  margin-bottom: 2rem;
}

.footer__list{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer__social-link{
  background-color: $color-LightBlack;
  color: $color-LightOrange-primary;
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  color: $color-container;
  text-align: center;
  font-size: $font-SizeSmall;
}