// Home Section
.home__container{
  position:relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home__data{
  text-align: center;
}

.home__greeting,
.home__education{
  font-size: $font-SizeSmall;
  font-weight: $font-WeightMedium;
}

.home__greeting{
  display: block;
  color: $color-TitleText;
  margin-bottom: .25rem;
}

.home__education{
  color: $color-text;
  margin-bottom: 2.5rem;
}

.home__name{
  font-size: $font-SizeBig;
}

.home__img{
  width: 160px;
}

.home__handle{
  justify-self: center;
  width: 190px;
  height: 293px;
  background: linear-gradient(180deg, $color-LightOrange-primary, hsla(22, 100%, 50%, 0.603));
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.home__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home__social,
.home__scroll{
  position: absolute;
}

.home__social{
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: .5rem;

  &::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: $color-LightOrange-primary;
    transform: rotate(90deg) translate(16px, 3px);
  }
}

.home__social-link{
  width: max-content;
  background-color: $color-container;
  color: $color-text;
  padding: .25rem;
  border-radius: .25rem;
  display: flex;
  font-size: 1rem;
  transition: .4s;

  &:hover{
    background-color: $color-LightOrange-primary;
    color: #fff;
  }
}

.home__scroll{
  color: $color-text;
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;

  &::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: $color-LightOrange-primary;
    transform: rotate(90deg) translate(16px, -1px);
  }
}

.home__scroll-icon{
  font-size: 1.25rem;
}

.home__scroll-name{
  font-size: $font-SizeSmaller;
  transform: rotate(-90deg);
}

.button{
  display: inline-block;
  background-color: $color-LightOrange-primary;
  color: $color-LightBlack;
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: $font-WeightMedium;
  transition: .4s;

  &:hover{
    background-color: $color-DarkOrange-secondary;
    color: $color-LightBlack;
  }
}

.button--ghost{
  background-color: transparent;
  border: 2px solid $color-LightOrange-primary;
  color: $color-LightOrange-primary;
}

// About Section

.about__container{
  row-gap: 2.5rem;
}

.about__img{
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}

.about__data{
  text-align: center;
}

.about__info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 2rem;
}

.about__box{
  background-color: $color-container;
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about__icon{
  font-size: 1.5rem;
  color: $color-LightOrange-primary;
  margin-bottom: .5rem;
}

.about__title{
  font-size: $font-SizeSmall;
}

.about__subtitle{
  font-size: $font-SizeTiny;
}

.about__description{
  margin-bottom: 2rem;
}