// Font
$font-primary: 'Poppins', sans-serif;

$font-SizeBig: 1.75rem;
$font-SizeH1: 1.5rem;
$font-SizeH2: 1.25rem;
$font-SizeH3: 1rem;
$font-SizeNormal: .93rem;
$font-SizeSmall: .81rem;
$font-SizeSmaller: .75rem;
$font-SizeTiny: .62rem;

$font-WeightMedium: 500;
$font-WeightSemibold: 600;

// Color
:root {
  --first-hue: 17;
  --sat: 100%;
  --lig: 61%;
  --second-hue: 219;
  --color-primary: hsl(var(--first-hue), var(--sat), var(--lig));
  --color-primary-alt: hsl(var(--first-hue), var(--sat), 57%); /* -4% */
  --color-title: hsl(var(--second-hue), 15%, 95%);
  --color-text: hsl(var(--second-hue), 8%, 75%);
  --color-text-light: hsl(var(--second-hue), 4%, 55%);
  --color-body: hsl(var(--second-hue), 48%, 8%);
  --color-container: hsl(var(--second-hue), 32%, 12%);
}

// Z-index
$z-Tooltip: 10;
$z-Fixed: 100;
$z-Modal: 1000;

// Header
$header-height: 3.5rem;