:root {
  --first-hue: 17;
  --sat: 100%;
  --lig: 61%;
  --second-hue: 219;
  --color-primary: hsl(var(--first-hue), var(--sat), var(--lig));
  --color-primary-alt: hsl(var(--first-hue), var(--sat), 57%);
  /* -4% */
  --color-title: hsl(var(--second-hue), 15%, 95%);
  --color-text: hsl(var(--second-hue), 8%, 75%);
  --color-text-light: hsl(var(--second-hue), 4%, 55%);
  --color-body: hsl(var(--second-hue), 48%, 8%);
  --color-container: hsl(var(--second-hue), 32%, 12%);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
  -webkit-transition: .4s;
  transition: .4s;
  /* For Light mode animation */
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 0.93rem;
}

h1,
h2,
h3 {
  color: var(--color-title);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, .section__subtitle {
  text-align: center;
}

.section__title {
  font-size: 1.25rem;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: 0.75rem;
  color: var(--color-text-light);
}

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--first-hue), var(--sat), var(--lig));
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--first-hue), var(--sat), 57%);
}

.change-theme {
  font-size: 1.25rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.change-theme:hover {
  color: var(--color-primary);
}

body.light-theme {
  --color-title: hsl(var(--second-hue), 15%, 15%);
  --color-text: hsl(var(--second-hue), 8%, 35%);
  --color-body: hsl(var(--second-hue), 100%, 99%);
  --color-container: #fff;
}

.light-theme .scroll-header {
  -webkit-box-shadow: 0 2px 4px rgba(3, 3, 3, 0.1);
          box-shadow: 0 2px 4px rgba(3, 3, 3, 0.1);
}

.light-theme .nav__menu {
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
}

.light-theme .section__subtitle {
  color: var(--color-text);
}

.light-theme .home__social-link {
  -webkit-box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
          box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .footer__social-link {
  background-color: var(--color-title);
}

.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy {
  color: var(--color-title);
}

.light-theme .about__box {
  -webkit-box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
          box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme .skills__content,
.light-theme .experience__button,
.light-theme .work__card,
.light-theme .contact__card {
  -webkit-box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
          box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}

.light-theme::-webkit-scrollbar {
  background-color: hsl(var(--second-hue), 8%, 70%);
}

.light-theme::-webkit-scrollbar-thumb {
  background-color: hsl(var(--first-hue), var(--sat), 70%);
}

.light-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--first-hue), var(--sat), 57%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-body);
  z-index: 100;
  -webkit-transition: .4s;
  transition: .4s;
  /* For Light mode animation */
}

.nav {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  color: var(--color-primary);
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav__logo:hover {
  color: var(--color-primary-alt);
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: .4s;
  transition: .4s;
  /* For Light mode animation */
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: var(--color-text);
  font-size: 1.25rem;
  padding: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5rem;
}

.active-link {
  background: -webkit-gradient(linear, left top, left bottom, from(hsla(var(--first-hue), var(--sat), var(--lig), 1)), to(hsla(var(--first-hue), var(--sat), var(--lig), 0.39)));
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.39));
  -webkit-box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
          box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: var(--color-title);
}

.scroll-header {
  -webkit-box-shadow: 0 4px 4px rgba(10, 10, 10, 0.3);
          box-shadow: 0 4px 4px rgba(10, 10, 10, 0.3);
}

.home__container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home__data {
  text-align: center;
}

.home__greeting, .home__education {
  font-size: 0.81rem;
  font-weight: 500;
}

.home__greeting {
  display: block;
  color: var(--color-title);
  margin-bottom: .25rem;
}

.home__education {
  color: var(--color-text);
  margin-bottom: 2.5rem;
}

.home__name {
  font-size: 1.75rem;
}

.home__img {
  width: 190px;
  height: 293px;
  background: -webkit-gradient(linear, left top, left bottom, from(hsla(var(--first-hue), var(--sat), var(--lig), 1)), to(hsla(var(--first-hue), var(--sat), var(--lig), 0.2)));
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.2));
  border-radius: 10rem 10rem 1rem 1rem;
  overflow: hidden;
}

.home__handle {
  justify-self: center;
  border-radius: 10rem 10rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.home__social, .home__scroll {
  position: absolute;
}

.home__social {
  bottom: 5rem;
  left: 0;
  display: -ms-grid;
  display: grid;
  row-gap: .5rem;
}

.home__social::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--color-primary);
  -webkit-transform: rotate(90deg) translate(16px, 3px);
          transform: rotate(90deg) translate(16px, 3px);
}

.home__social-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--color-container);
  color: var(--color-text);
  padding: .25rem;
  border-radius: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.home__social-link:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.home__scroll {
  color: var(--color-text);
  right: -1.5rem;
  bottom: 4.7rem;
  display: -ms-grid;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home__scroll::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--color-primary);
  -webkit-transform: rotate(90deg) translate(16px, -1px);
          transform: rotate(90deg) translate(16px, -1px);
}

.home__scroll-icon {
  font-size: 1.25rem;
}

.home__scroll-name {
  font-size: 0.75rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.button {
  display: inline-block;
  background-color: var(--color-primary);
  color: var(--color-body);
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.button:hover {
  background-color: var(--color-primary-alt);
  color: var(--color-body);
}

.button--ghost {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.about__container {
  row-gap: 2.5rem;
}

.about__img {
  width: 220px;
  border-radius: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__data {
  text-align: center;
}

.about__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  margin-bottom: 2rem;
}

.about__box {
  background-color: var(--color-container);
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: .5rem;
}

.about__title {
  font-size: 0.81rem;
}

.about__subtitle {
  font-size: 0.62rem;
}

.about__description {
  margin-bottom: 2rem;
}

.skills__container {
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills__content {
  background-color: var(--color-container);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-size: 0.93rem;
  font-weight: 500;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.skills__group {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
}

.skills .bx-check-square {
  font-size: 1rem;
  color: var(--color-primary);
}

.skills__name {
  font-size: 0.93rem;
  font-weight: 500;
  line-height: 18px;
}

.skills__level {
  font-size: 0.62rem;
}

.experience__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.experience__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-container);
  padding: 1.25rem;
  border-radius: 1.25rem;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.experience__button:hover {
  color: var(--color-primary);
}

.experience__button.experience__active {
  color: var(--color-primary);
}

.experience .button--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience__icon {
  font-size: 1.5rem;
}

.experience__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.experience__title {
  font-size: 0.93rem;
  font-weight: 500;
}

.experience__subtitle {
  display: inline-block;
  font-size: 0.81rem;
  margin-bottom: 1rem;
}

.experience__calendar {
  font-size: 0.75rem;
  color: var(--color-text-light);
}

.experience__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--color-primary-alt);
  border-radius: 50%;
}

.experience__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--color-primary-alt);
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

.experience__copy {
  text-align: center;
}

.experience__copy h3 {
  padding: .5rem;
  margin-bottom: 1.25rem;
}

.experience__copy p {
  padding: .75rem;
}

.experience [data-content] {
  display: none;
}

.experience__active[data-content] {
  display: block;
}

.work__container {
  padding-top: 1rem;
}

.work__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .75rem;
          column-gap: .75rem;
  margin-bottom: 2rem;
}

.work__item {
  cursor: pointer;
  color: var(--color-title);
  padding: .25rem .75rem;
  font-weight: 500;
  border-radius: .5rem;
}

.work__card {
  background-color: var(--color-container);
  padding: 1rem;
  border-radius: 1rem;
}

.work__img {
  border-radius: 1rem;
  margin-bottom: .75rem;
}

.work__title {
  font-size: 0.93rem;
  font-weight: 500;
  margin-bottom: .25rem;
  width: 17.5rem;
}

.work__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--color-primary);
  font-size: 0.81rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .25rem;
          column-gap: .25rem;
}

.work__button:hover .work__icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.work__icon {
  font-size: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.active-work {
  background-color: var(--color-primary);
  color: var(--color-body);
}

.contact__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact__title {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.contact__info {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.contact__card {
  background-color: var(--color-container);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

.contact__card-icon {
  font-size: 2rem;
  color: var(--color-title);
  margin-bottom: .25rem;
}

.contact__card-title, .contact__card-data {
  font-size: 0.81rem;
}

.contact__card-title {
  font-weight: 500;
}

.contact__card-data {
  display: block;
  margin-bottom: .75rem;
}

.contact__button {
  color: var(--color-primary);
  font-size: 0.81rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: .25rem;
          column-gap: .25rem;
}

.contact__button:hover .contact__button-icon {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}

.contact__button-icon {
  font-size: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-text-light);
  background: none;
  color: var(--color-text);
  outline: none;
  padding: 1.5rem;
  border-radius: .75rem;
  z-index: 1;
}

.contact__form-tag {
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: 0.75rem;
  padding: .25rem;
  background-color: var(--color-body);
  z-index: 10;
}

.contact__form-area {
  height: 11rem;
}

.contact__form-area textarea {
  resize: none;
}

.footer {
  background-color: var(--color-primary);
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__title, .footer__link {
  color: var(--color-body);
}

.footer__title {
  text-align: center;
  margin-bottom: 2rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.footer__social-link {
  background-color: var(--color-body);
  color: var(--color-primary);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--color-container);
  text-align: center;
  font-size: 0.81rem;
}

@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }
  .home__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__handle, .home__img {
    width: 150px;
    height: 253px;
  }
  .about__info {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
  .skills__box {
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .skills__name {
    font-size: 0.81rem;
  }
  .experience__tabs {
    font-size: 0.81rem;
  }
  .experience__data {
    gap: .5rem;
  }
  .work__item {
    font-size: 0.81rem;
  }
  .work__filters {
    -webkit-column-gap: .25rem;
            column-gap: .25rem;
  }
}

@media screen and (min-width: 576px) {
  .nav__menu {
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .about__info {
    -ms-grid-columns: (140px)[3];
        grid-template-columns: repeat(3, 140px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__description {
    padding: 0 5rem;
  }
  .skills__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills__content {
    padding: 2rem 4rem;
  }
  .experience__sections {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .6fr;
        grid-template-columns: .6fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work__img {
    width: 295px;
  }
  .contact__info {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__form {
    width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .work__container {
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
  }
  .contact__container {
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .experience__tabs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience__button {
    margin: 0 1rem;
  }
  .experience__sections {
    -ms-grid-columns: .5fr;
        grid-template-columns: .5fr;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 6.5rem 0 1rem;
  }
  .section__title {
    margin-bottom: 3.5rem;
  }
  .nav {
    height: 4.5rem;
  }
  .home__handle, .home__img {
    width: 270px;
    height: 400px;
  }
  .home__social-link {
    padding: .4rem;
    font-size: 1.25rem;
  }
  .home__social::after {
    -webkit-transform: rotate(90deg) translate(16px, 0);
            transform: rotate(90deg) translate(16px, 0);
  }
  .home__scroll-icon {
    font-size: 2rem;
  }
  .about__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .about__img {
    width: 350px;
  }
  .about__data {
    text-align: initial;
  }
  .about__info {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .about__box {
    text-align: center;
    padding: 1rem 1.25rem;
  }
  .about__description {
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;
  }
  .skills__container {
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .work__container {
    gap: 3rem;
  }
  .work__card {
    padding: 1.25rem;
  }
  .work__img {
    margin-bottom: 1rem;
  }
  .work__title {
    margin-bottom: .5rem;
  }
  .contact__container {
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  .footer__social-link {
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .5rem;
  }
}
/*# sourceMappingURL=style.css.map */