// imports
@import 'variables';
@import 'mediaQuery';
@import 'header';
@import 'main';
@import 'footer';


// Base Reset
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: $color-LightBlack;
  color: $color-text;
}

body,
button,
input,
textarea {
  font-family: $font-primary;
  font-size: $font-SizeNormal;
}

h1,
h2,
h3 {
  color: $color-TitleText;
  font-weight: $font-WeightSemibold;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid{
  display: grid;
  gap: 1.25rem;
}

.main{
  overflow: hidden;
}

.section{
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle{
  text-align: center;
}

.section__title{
  font-size: $font-SizeH2;
  color: $color-LightOrange-primary;
  margin-bottom: 2rem;
}

.section__subtitle{
  display: block;
  font-size: $font-SizeSmaller;
  color: $color-LightText;
}

