*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: #101010;
  color: #babec4;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 0.93rem;
}

h1,
h2,
h3 {
  color: #f0f2f4;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: 1.25rem;
  color: #ff933b;
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: 0.75rem;
  color: #888b91;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #101010;
  z-index: 100;
}

.nav {
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  color: #ff933b;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav__logo:hover {
  color: #ff6e1b;
}

.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: #242424cc;
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  color: #babec4;
  font-size: 1.25rem;
  padding: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5rem;
}

.active-link {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff933b), to(#ff6e1b));
  background: linear-gradient(180deg, #ff933b, #ff6e1b);
  -webkit-box-shadow: 0 0 16px #ff6e1b;
          box-shadow: 0 0 16px #ff6e1b;
}

.scroll-header {
  -webkit-box-shadow: 0 4px 4px rgba(10, 10, 10, 0.3);
          box-shadow: 0 4px 4px rgba(10, 10, 10, 0.3);
}

.home__container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home__data {
  text-align: center;
}

.home__greeting,
.home__education {
  font-size: 0.81rem;
  font-weight: 500;
}

.home__greeting {
  display: block;
  color: #f0f2f4;
  margin-bottom: .25rem;
}

.home__education {
  color: #babec4;
  margin-bottom: 2.5rem;
}

.home__name {
  font-size: 1.75rem;
}

.home__img {
  width: 160px;
}

.home__handle {
  justify-self: center;
  width: 190px;
  height: 293px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff933b), to(rgba(255, 94, 0, 0.603)));
  background: linear-gradient(180deg, #ff933b, rgba(255, 94, 0, 0.603));
  border-radius: 10rem 10rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.home__social,
.home__scroll {
  position: absolute;
}

.home__social {
  bottom: 5rem;
  left: 0;
  display: -ms-grid;
  display: grid;
  row-gap: .5rem;
}

.home__social::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: #ff933b;
  -webkit-transform: rotate(90deg) translate(16px, 3px);
          transform: rotate(90deg) translate(16px, 3px);
}

.home__social-link {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #242424cc;
  color: #babec4;
  padding: .25rem;
  border-radius: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.home__social-link:hover {
  background-color: #ff933b;
  color: #fff;
}

.home__scroll {
  color: #babec4;
  right: -1.5rem;
  bottom: 4rem;
  display: -ms-grid;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}

.home__scroll::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: #ff933b;
  -webkit-transform: rotate(90deg) translate(16px, -1px);
          transform: rotate(90deg) translate(16px, -1px);
}

.home__scroll-icon {
  font-size: 1.25rem;
}

.home__scroll-name {
  font-size: 0.75rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.button {
  display: inline-block;
  background-color: #ff933b;
  color: #101010;
  padding: .75rem 1rem;
  border-radius: .5rem;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.button:hover {
  background-color: #ff6e1b;
  color: #101010;
}

.button--ghost {
  background-color: transparent;
  border: 2px solid #ff933b;
  color: #ff933b;
}

.about__container {
  row-gap: 2.5rem;
}

.about__img {
  width: 220px;
  border-radius: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__data {
  text-align: center;
}

.about__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 2rem;
}

.about__box {
  background-color: #242424cc;
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about__icon {
  font-size: 1.5rem;
  color: #ff933b;
  margin-bottom: .5rem;
}

.about__title {
  font-size: 0.81rem;
}

.about__subtitle {
  font-size: 0.62rem;
}

.about__description {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */